.section {
    padding-top: 190px;
    padding-bottom: 170px;
}

.wrapper {
    padding: var(--wrapper-padding);
    display: flex;
    flex-direction: column;
}

.title {
    text-align: right;
    margin-bottom: 115px;
}

.containerCards {
    display: flex;
    justify-content: space-evenly;
}

.contentCard {
    position: relative;
    width: 406px;
    border-radius: 30px;
    background-color: #0a0a0a;
}

.imgCard {
    position: absolute;
    bottom: 3px;
}

.bgCard {
    border-radius: 30px;
    box-sizing: content-box;

}

.textCard {
    position: absolute;
    left: 26px;
    top: 35px;
    width: 340px;
}

.homescreenImg {
    right: 0;
}

.graphImg {
    border-radius: 0 0 26px 26px;
    width: 406px;
}

.settingsImg {
    border-radius: 0 0 0 26px;
}

@media screen and (max-width: 650px) {

    .hyphenation {
        display: none;
    }

    .containerCards {
        flex-direction: column;
        align-items: center;
        gap: 22px;
    }
    .section {
        padding: 79px 0 79px 0;
    }

    .title {
      margin-bottom: 22px;
    }
}

