.section {
    background-color: var(--white);
    color: black;
    border-radius: 35px 35px 35px 300px;
    padding: var(--wrapper-padding);
    position: relative;
    overflow: hidden;
}

.wrapper {
    padding: 148px 0 187px 0;
    display: flex;
}

.title {
    max-width: 740px;
}

.containerLeft {
    flex: 2;
    display: flex;
    flex-direction: column;
    padding-top: 111px;
}

.containerRight {
    flex: 1;
}

.listsWrapper {
    display: flex;
    padding-top: 117px;
    gap: 55px;
    max-width: 830px;
    flex-wrap: wrap;
}

.listsContainer {
    display: flex;
    justify-content: space-between;
}

.listContent {
    max-width: 370px
}

.listItem:not(:last-child) {
    margin-bottom: 14px;
}

.listTitle {
    font-size: 20px;
    margin-bottom: 11px;
    margin-top: 4px;
}

.listTitle:nth-child(2) {
    max-width: 360px;
}

.listContent:nth-child(2)>.list>.listItem:nth-child(1) {
    max-width: 360px;
}

.list {
    list-style-type: none;
}

.iphoneImg {
    right: -150px;
    position: absolute;
}

.listAd {
    margin-top: 88px;
}

.listLoyalty {
    margin-top: -100px;
}

@media screen and (max-width: 650px) { 
 .wrapper {
    flex-direction: column;
    gap: 25px;
 }

 .listLoyalty {
   margin-top: 0;
 }

 .listAd {
    margin-top: 0px;
}

.iphoneImg {
    position: relative;
    right: 0;
}

}