.wrapper {
    padding: var(--wrapper-padding);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.title {
    text-align: right;
    margin: 189px 0 168px 0;
    max-width: 789px;
}

.listWrapper {
    display: flex;
    align-self: flex-start;
    width: 100%;

}

.listItemCircle {
    width: 32px;
    height: 32px;
    background-image: radial-gradient(at 20% 40%, #FF3300, #ff00c8);
    border-radius: 50%;
    position: absolute;
}

.redLine {
    width: 1px;
    background-color: #FF3300;
    height: 58em;
    margin-right: -16px;
    display: none;
}

.listItem {
    display: flex;
    align-items: center
}

.listItem:nth-child(2) .listItemTitle {
    max-width: 470px;
}


.listItemTextContainer {
    display: flex;
    flex-direction: column;
    gap: 11px;
    max-width: 552px;
    margin-left: 70px;
}

.listItem:not(:last-child) {
    margin-bottom: 123px;
}

.listItemTitle {
    font-weight: 600;
    font-size: 20px;
}

.containerLeft {
    width: 50%;
    display: flex;
    box-sizing: border-box;
}

.containerRight {
    position: relative;
    width: 10%;
}

.iphoneImg,
.redStar {
    position: absolute;
}

.redStar {
    height: 470px;
}

.iphoneImg {
    height: 643px;
    z-index: 3;
}

.lightImg {
    position: relative;
    z-index: 2;
    width: 100%;
    margin-top: 245px;
}

.redStarSecond {
    left: -15px;
}

.iphoneImgFirst {
    top: 50px;
    left: 300px;
}

.iphoneImgSecond {
    top: 430px;
    left: 80px;
}

.blurContainer {
    z-index: -1;
    width: 470px;
    height: 470px;
    position: relative;
}

.blur {
    height: 470px;
    width: 280px;
    z-index: -1;
}

.blurContainerSecond {
    top: -30px;
    left: 210px;
}

.blurContainerFirst {
    top: 200px;
    left: 107px;
}

.blurSecond {
    top: 460px;
    left: 208px;
}

.blurFirst {
    margin-left: -15px;
}


@media screen and (max-width: 1400px) {

    .listContainer {
        display: flex;
        flex-direction: column;
    }

    .section {
        overflow-x: clip;
    }

    .listWrapper {
        flex-direction: column;
        gap: 20px;
    }

    .redLine {
        height: 35em;
    }

    .containerLeft {
        width: 100%;
    }

    .containerRight {
        width: 100%;
    }

    .title {
        margin: 67px 0 78px 0;
    }

    .listItem {
        gap: 16px;
        width: 100%;
    }

    .listItemTitle {
        font-size: 19px;
    }

    .listItemTextContainer {
        margin-left: 38px;
        max-width: 100%;
    }

    .listItem:not(:last-child) {
        margin-bottom: 40px;
    }

    .containerLeft {
        justify-content: center;
    }

    .iphoneImg {
        height: 430px;
    }

    .redStar {
        height: 350px;
    }

    .redStarFirst {
        top: 0;
        left: -10%;
    }

    .redStarSecond {
        left: -8%;
        top: 4%;
    }

    .iphoneImgFirst {
        top: 7%;
        left: 40%;
    }

    .iphoneImgSecond {
        left: 27%;
        top: 53%;
    }

    .blurContainer {
        width: 360px;
        height: 360px;
    }

    .blurContainerFirst {
        top: 11em;
        left: 15%;
    }

    .blurContainerSecond {
        top: -1%;
        right: 30%;
    }

    .blurSecond {
        top: 20%;
        left: 20%;
        margin-right: -15%;
    }

    .blurFirst {
        margin-left: -15%;
        width: 230px;
    }

    .lightImg {

        width: 100%;
        margin-top: 160px;
    }

    .listItemCircle {
        width: 16px;
        height: 16px;
    }

}

@media screen and (max-width: 650px) {

}

@media screen and (max-width: 520px) {

    .containerRight {
        margin-left: -15%;
    }

    .redLine {
        height: max-content;
    }

    .listItemTextContainer {
        width: calc(100% - 48px);
    }

}

/* @-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
} */