.wrapper {
    padding: var(--wrapper-padding);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.title {
    text-align: right;
    margin: 189px 0 168px 0;
    max-width: 789px;
}

.listWrapper {
    display: flex;
    align-self: flex-start;
    width: 100%;
}

.listItemCircle {
    width: 32px;
    height: 32px;
    background-image: radial-gradient(
        at 20% 40%, #FF3300, #ff00c8
);
    border-radius: 50%;
}

.redLine {
    width: 1px;
    background-color: #FF3300;
    height: 58em;
    margin-right: -16px;
}

.listItem {
    display: flex;
}

.listItem:nth-child(2) .listItemTitle {
    max-width: 470px;
}


.listItemTextContainer {
    display: flex;
    flex-direction: column;
    gap: 11px;
    max-width: 552px;
    margin-left: 38px;
}

.listItem:not(:last-child) {
    margin-bottom: 123px;
}

.listItemTitle {
    font-weight: 600;
    font-size: 20px;
}

.containerLeft {
    width: 50%;
}

.containerRight {
    position: relative;
    width: 10%;
}

.redStarFirst, .redStarSecond, .iphoneImgFirst, .iphoneImgSecond {
    position: absolute;
}

.redStarFirst, .redStarSecond {
    height: 470px;
}

.iphoneImgFirst, .iphoneImgSecond {
    height: 643px;
}

.lightImg {
    width: 100%;
    margin-top: 245px;
}

.redStarFirst {
    /* -webkit-animation: spin 8s infinite linear;
    animation: spin 8s infinite linear; */
}

.redStarSecond {
    top: 460px;
    left: 208px;
}

.iphoneImgFirst {
    top: 50px;
    left: 300px;
}

.iphoneImgSecond {
    top: 430px;
    left: 80px;
}

.blurContainerFirst {
    width:  470px;
    height: 470px;
    position: relative;
    top: 200px; 
    left: 107px;
    z-index: -1;
}

.blurFirst {
    height: 470px;
    width:  280px;
    z-index: -1;
    margin-left: -15px;
}


/* @-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
} */