.glowImg {
    position: absolute;
    width: 100%;

}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center
}

.title {
    font-family: Gilroy;
    font-weight: 200;
    font-size: 88px;
    background: linear-gradient(180deg, #FFFFFF 0%, #737373 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    max-width: 1290px;
    margin-top: 23%;
}

.logo {
    font-weight: 900;
    background: var(--logo-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.iphoneContainer {
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.iphoneImg {
    width: 723px;
    height: 878px;
    position: absolute;
    z-index: 2;
}

.name {
    /* position: absolute; */
    font-family: Gilroy;
    font-weight: 900;
    font-size: 343px;
    background: linear-gradient(180deg, #FFFFFF 27%, #525252 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 1;
    user-select: none;

}

.backgroundImg {
    width: 100%;
    height: 100%
}

.textContainer {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 440px;
}

@media screen and (max-width: 650px) {

    .title {
        font-size: 30px;
    }

    .iphoneImg {
        width: 265px;
        height: 322px;
    }

    .name {
        font-size: 88px;
    }

    .textContainer {
        top: 80px;
    }
}