.glowImg {
    position: absolute;
    width: 100%;

}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center
}

/* .title {
    font-family: Gilroy;
    font-weight: 200;
    font-size: 88px;
    background: linear-gradient(180deg, #FFFFFF 0%, #737373 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    max-width: 1290px;
    margin-top: 23%;
} */


.iphoneContainer {
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.iphoneImg {
    width: 723px;
    /* height: 100%; */
    position: absolute;
    z-index: 2;
    top: 20%;
}

.name {
    /* position: absolute; */
    font-family: Gilroy;
    font-weight: 900;
    font-size: 343px;
    background: linear-gradient(180deg, #FFFFFF 27%, #525252 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 1;
    user-select: none;
    height: 100%;
}

.backgroundImg {
    width: 100%;
    height: 100%
}

.textContainer {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 440px;
}

.titleContainer {
    display: flex; 
     flex-wrap: wrap;
    gap: 1rem; 
    max-width: 1290px;
    justify-content: center;
    margin-top: 23%;
}

.title {
    font-family: Gilroy;
    font-weight: 200;
    font-size: 88px;
    color: #a8a8a8;  
}


.logo {
    font-family: Gilroy;
    font-size: 88px;
    font-weight: 900;
    color: rgb(235, 36, 79);

}

@media screen and (min-width: 2000px) {
    .iphoneContainer {
       max-height: 1500px;
    }

    .backgroundImg {
        max-height: 1500px;
    }
}

@media screen and (max-width: 1400px) {

    .title {
    font-size: 60px;
    }

    .logo {
        height: 100px;
    }

    .titleContainer {
        align-items: flex-end;
    }

    .textContainer {
      top: 30%;
    }

    .iphoneImg {
        width: 530px;
    }

    .name {
        font-size: 280px;
    }
}

@media screen and (max-width: 1100px) {

    .iphoneImg {
        width: 430px;
    }

    .name {
        font-size: 220px;
    }
}

@media screen and (max-width: 850px) {

    .name {
        font-size: 170px;
    }
}

@media screen and (max-width: 650px) {

    .logo {
        height: 63px;
        font-size: 60px;
    }

    .title {
        font-size: 30px;
    }

    .iphoneImg {
        width: 285px;
    }

    .name {
        font-size: 110px;
    }

    .textContainer {
        top: 35%;
    }
}

@media screen and (max-width: 410px) {
   .name {
    font-size: 80px;
   }

   .iphoneImg {
    width: 240px;
   }
}