.wrapper {
    padding: 0 15%;
    display: flex;
}

.title {
    max-width: 530px;
}

.bold {
    font-weight: 900;
}

.containerLeft {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.contentText {
    padding-top: 47px;
    max-width: 496px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.containerRight {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.contentLeft {
    display: flex;
    flex-direction: column;
    padding-right: 16px;
}

.contentImage {
    width: 286px;
    border-radius: 35px;
}

.activity {
    padding-top: 16px;
}

.comfort {
    width: 296px;
}

@media screen and (max-width: 1700px) {
    .hyphenation {
        display: none;
    }

    .wrapper {
        padding: var(--wrapper-padding);
        margin-top: 10%;
    }

    .title {
        max-width: 100%;
    }

}

@media screen and (max-width: 1450px) {

    .wrapper {
        flex-direction: column;
        gap: 25px;
        align-items: center;
        margin-top: 5%;
    }

    .containerRight {
        flex-wrap: wrap;
    }

    .contentText {
        max-width: 100%;
        padding-top: 26px;
    }

}

@media screen and (max-width: 950px) {

    .wrapper {

        margin-top: 15%;
    }

    .containerRight {
        flex-direction: column;
        gap: 16px;
        align-items: center;
    }

    .contentLeft {
        padding-right: 0;
    }

}

@media screen and (max-width: 450px) {
    .wrapper {
        margin-top: 30%;
    }
}