.section {
    background-color: white;
    margin-top: -11.5%;
    color: black;
    padding-top: 340px;
    border-radius: 0px 0px 35px 300px;
    position: relative;
    z-index: -1;
}

.wrapper {
    padding: var(--wrapper-padding);
    display: flex;
    flex-direction: column;
    gap: 160px;
}

.containerText,
.containerPhoto {
    display: flex;
    justify-content: space-around;
}

.containerPhoto {
    justify-content: center;
    align-items: center;

}

.contentTextLeft {
    display: flex;
    flex-direction: column;
    gap: 34px;
}

.contentTextRight {
    display: flex;
    flex-direction: column;
    gap: 23px;

}

.contentPhotoLeft {
    position: relative;
}

.contentPhotoRight {
    margin-top: 200px;
    margin-left: -90px;
}

.text {
    max-width: 544px;
}

.bold {
    font-weight: 600;
}

.imageFirst {
    max-width: 414px;
}

.imageSecond {
    max-width: 284px;
    margin-left: -190px;
}

.imageMap {
    max-width: 375px;
    margin: 200px 0 0 65px;
}

.titleText {
    max-width: 320px;
    font-size: 20px;
}

.banner {
    max-width: 405px;
    box-sizing: border-box;
    padding: 24px 40px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.815);
    top: 100px;
    right: 80px;
    border-radius: 30px;
    box-shadow: 4px 4px 22px 0px rgba(5, 0, 81, 0.25);
    backdrop-filter: blur(8px);
    z-index: 1;
}

.list {
    list-style-type: none;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 24px;

}

.listItem {
    font-weight: 600;
    color: white;
    background-color: var(--red);
    border-radius: 25px;
    padding: 6px 13px;
}

.bannerTitle {
    font-weight: 600;
    font-size: 24px;
}

.gradient {
    width: 100%;
    height: 319px;
    position: absolute;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    bottom: 0;
    z-index: 1;
    border-radius: 0px 0px 35px 300px;
}

.blackLineFirst,
.blackLineSecond,
.blackLineThird,
.blackLineFourth {
    width: 66px;
    height: 1px;
    background-color: black;
    position: absolute;
}

.blackLineFirst {
    top: 500px;
    left: 0;
}

.blackLineSecond {
    top: 1400px;
}

.blackLineThird {
    top: 500px;
    right: 0;
}

.blackLineFourth {
    top: 1400px;
    right: 0;
}

.imgIphone {
    position: relative;
    bottom: -3px;
}


@media screen and (max-width: 1650px) {
    .banner {
        max-width: 320px;
        padding: 12px 18px;
        top: -60px;
      }
  
      .bannerTitle {
          font-size: 19px;
          max-width: 250px;
      }
  
      .listItem {
          font-size: 14px;
      }
  
    .containerText {
      justify-content: space-between;
    }
    .blackLineFirst,
    .blackLineSecond,
    .blackLineThird,
    .blackLineFourth {
    width: 32px;
    }
  }

@media screen and (max-width: 1350px) {

    .section{
        padding-top: 200px;
    }

    .containerText {
        flex-direction: column-reverse;
        align-items: center;
        gap: 50px;
    }
  
    .imgIphone {
        width: 600px;
    }

    .contentTextRight {
        margin-right: -15%;
    }

}

@media screen and (max-width: 1050px) {

    .text {
        max-width: 100%;
    }

    .section {
        padding-top: 140px;
        border-radius: 0px 0px 30px 150px;
    }

    .gradient {
        border-radius: 0px 0px 30px 150px;
    }

    .wrapper {
        gap: 75px;
    }

    .containerPhoto {
        flex-direction: column-reverse;
    }

    .containerPhoto {
      gap: 95px;
    }

    .contentPhotoRight{
        margin: 0;
        position: relative;
    }

    .imgIphone {
        max-width: 100%;
        height: auto;
    }

    .imageFirst, .imageSecond, .imageMap {
       display: none;
    }

    .contentTextLeft { 
        gap: 17px;
    }

    .titleText {
        max-width: 100%;
    }

    .blackLineFirst {
        left: -16px;
        width: 16px;
        top: -30%;
    }

    .blackLineThird {
        right: -16px;
        width: 16px;
        top: -30%;
    }

    .blackLineSecond, .blackLineFourth {
      display: none;
    }
   
}


@media screen and (max-width: 545px) {
    .list {
        margin-top: 12px;
        gap: 5px;
    }

    .banner {
        right: 0;
        top: -10%;
    }

    .listItem {
        padding: 4px 8px;
    }

}

@media screen and (max-width: 440px) {
    .banner {
        top: -15%;
    }
}

@media screen and (max-width: 380px) {
    .banner {
        top: -17%;
    }
}