.section {
    padding-bottom: 350px;
}

.title {
    max-width: 727px;
    text-align: right;
    align-self: end;
    margin: 187px 0 193px 0;
    position: relative;
    z-index: 2;
}

.wrapper {
    display: flex;
    flex-direction: column;
    padding: var(--wrapper-padding);
}

.listWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listContainer {
    background-color: #0c0c0c8a;
    height: 345px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(100px);
    border-radius: 35px;
    padding: 54px 54px 54px 80px;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
    width: 75%;
    gap: 10px;
}

.listContainer:nth-child(3) {
    flex-direction: row-reverse;
    margin-top: 14px;
    padding: 54px;
    text-align: right;
}

.listContent {
    max-width: 628px;
}

.listImage {
    border-radius: 35px;
}

.listTitle {
    font-size: 20px;
    font-weight: 700;
    margin: 0 40px 22px 40px;
}

.listItem:not(:last-child) {
    margin-bottom: 11px;
}

.list {
    list-style: none;
    padding-left: 0;
}

.listItem {
    position: relative;
    padding-left: 40px;
}

.listContainer:nth-child(2) .listItem::before, .listContainer:nth-child(3) .listItem::after {
    content: "";
    position: absolute;
    width: 21px;
    height: 21px;
    background-image: url('../../assets/images/SectionFourth/star.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.listContainer:nth-child(2) .listItem::before {
    left: 0;
    top: 0px;
}

.listContainer:nth-child(3) .listItem::after {
    right: 0;
    top: 0px;
}

.listContainer:nth-child(3) .listItem {
    padding-left: 0;
    padding-right: 40px;
}

.sphere {
    position: absolute;
    z-index: 1;
}

.sphereFirst {
    top: -100%;
    left: 0%;
}

.sphereSecond {
    right: 10%;
    bottom: 80%;
}

.sphereThird {
    left: 4%;
    bottom: 34%;
}

.sphereFourth {
    right: 8%;
    bottom: -14%;
    z-index: 3;
}

@media screen and (max-width: 1500px) { 

    .listContainer {
      width: 100%;
    }

    .listContent {
        max-width: 1000px;
    }

}

@media screen and (max-width: 1050px) { 

    .section {
        padding-bottom: 206px;
        overflow-x: clip;
    }

    .title {
        margin: 100px 0 25px 0;
    }
    
    .listContainer, .listContainer:nth-child(3) {
       flex-direction: column;
       height: 100%;
       gap: 33px;
       padding: 38px 16px;
       width: 100%;
    }

    .listContainer:nth-child(3) {
         text-align: left;
    }

    .listContainer:nth-child(3) .listItem::after {
        left: 0;
        top: 0px;
    }

    .sphereFirst {
        top: -30%;
        left: -9%;
        width: 154px;
    }

    .listContainer:nth-child(3) .listItem,  .listContainer .listItem {
        padding: 0 0 0 34px;
    }

    .listTitle {
        margin: 0 0 15px 34px;
    }

    .sphereThird {
      left: -8%;
    }

    .sphereFourth {
        right: -10%;
    }

}

@media screen and (max-width: 850px) { 

    .title {
        margin: 210px 0 25px 0;
    }

    .sphereFirst {
        top: -40%;
        left: -9%;
        width: 154px;
    }
    
}